<!-- src\app\form-steps\stepper-7\stepper-7.component.html -->

<div class="step-content">
  <div class="section-header">Animal Farming</div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Enter Number of Animals</mat-label>
      <input matInput type="number" placeholder="Enter total Count" [(ngModel)]="formData.animalAmount" name="animalAmount" (focus)="openAnimalsPanel()">
    </mat-form-field>
  </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Enter Price per Animal</mat-label>
        <input matInput type="number" placeholder="Enter Price" [(ngModel)]="formData.animalPrice" name="animalPrice">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field select-field">
        <mat-label>Select Currency</mat-label>
        <mat-select [(ngModel)]="formData.animalCurrency" name="animalCurrency">
          @for (code of currencylist; track code) {
            <mat-option [value]="code">{{ code }}</mat-option>
          } @empty {
            <mat-option disabled>No currencies available</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  

  <mat-divider></mat-divider>

  <div class="button-row">
    <button mat-raised-button color="primary" class="back-button" (click)="previousStep()">Back</button>
    <button mat-raised-button color="primary" class="next-button" (click)="nextStep()">Next</button>
  </div>
</div>
